<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo_segzs_4.svg" alt="logo" width="264" height="78"></a>
            <p>
                Кафедра СЭГЗС
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Информация</h2>
                    </li>
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <a href="/about">О кафедре</a>
                    </li>
                    <li>
                        <a href="/projects">Учеба</a>
                    </li>
                    <li>
                        <a href="/testimonials">Наука</a>
                    </li>
                    <li>
                        <a href="/contact">Контакты</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Наш состав</h2>
                    </li>
                    <li>Преподавательский <br> состав</li>
                    <li>Студенты</li>
                    <li>Аспиранты</li>
                    <li>Выпускники</li>
                </ul>
                <ul>
                    <li>
                        <h2>Контакты</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Отправить письмо по Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Создано</span>
        <a href="/" target="_blank" rel="noopener">@a_bo_go</a>
        <span class="copyright">
            Copyright 2023 - Present</span>
    </div>
</footer>